* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

// *bubbles
$bubblesNum: 700;
$bubbleTopY: -77vh;
$colorList:(#E8E8E8, #FED286, #F7B649, #F46C00, #F46C00, #798DB2, linear-gradient(to right, #FFC28A 0%, #FFAC7C 100%), linear-gradient(to right, #929DC0 0%, #AC84CA 100%));


.bubble-frame {
  position: absolute;
  will-change: transform;
}

.bubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  will-change: transform margin;
}

@for $i from 1 through $bubblesNum {
  $size: 3vmin + random(2vmin); // min 3 max 5 (vw)
  $goTopSpeed: (650s + random(2350s)) / 1000; // 0.65~3s
  $delaySwag: 0.1s + (random(4s) / 10); // 0.1~0.5s

  .bubble-frame {
    &:nth-child(#{$i}) {
      width: $size;
      height: $size;
      left: (-3% + random(102%)); // -3~99%
      top: (-3% + random(101%)); // -3~98%
      animation: bubbleGoTop $goTopSpeed forwards;

      .bubble {
        background: nth($colorList, random(length($colorList))); // nth($list,$n)
        opacity: (6 + random(4)) / 10; // 0.6~1
        animation: bubbleSwag infinite alternate linear 1s $delaySwag;
      }
    }

  }


}

@keyframes bubbleGoTop {
  0% {
    transform: translate(0, 0) translateZ(0);
  }

  100% {
    transform: translate(0, -77vh) translateZ(0);
  }
}

@keyframes bubbleSwag {
  // 0% {
  //   transform: translateX(0%);
  // }

  // 33% {
  //   transform: translateX(-5%);
  // }

  // 67% {
  //   transform: translateX(0%);
  // }

  // 100% {
  //   transform: translateX(5%);
  // }

  // *repaint
  0% {
    margin: 0 0 0 0;
  }

  33% {
    margin: 0 0 0 -5%;
  }

  67% {
    margin: 0 0 0 0;
  }

  100% {
    margin: 0 0 0 5%;
  }
}

@media (max-width:1024px) {
  .bubble-frame {
    &:nth-child(n+500) {
      // 剩 500 個泡泡
      // opacity: 0;
      display: none;
    }
  }
}

@media (max-width:767px) {
  .bubble-frame {
    &:nth-child(n+400) {
      // 剩 400 個泡泡
      // opacity: 0;
      display: none;
    }
  }
}